<%- include("../partials/header") %>


<!-- For buttons  -->

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome To Cloficient!</h1>
			<p>Your Cloficient Rating is "130... ", that's 59% less waste than the average person in terms of clothing waste! Check out the details here=></p>
		</div>
	</header>
	
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <form class="container" action="/categories/update-all?_method=PUT" method="POST">
            <!-- Display each category -->
            <% categories.forEach((category) => { %>
                <div class="col-md-12 col-sm-12">
                    <div class="container">
                        <!-- Display each category as button with show more -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#<%= category.name %>" aria-expanded="false" aria-controls="collapseExample"><%= category.name %></button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/categories/<%= category._id %>">Details</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/categories/<%= category._id %>/edit">Edit</a>
                                <form action="/categories/<%= category._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="dropdown-item" value="Delete" onclick="return confirm('Are you sure?')">
                                </form>
                            </div>
                        </div>
                        
                        <!-- Display favorite items corresponding to each category  -->
                        <% category.items.forEach((item) => {
                            if(item.favorite) { %>
                            <div class="btn-group">
                                <label class="btn btn-info wear-toggle"><input type="checkbox" name="<%= item._id %>" value="true"><%= item.name %></label>
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Favorite</a>
                                    <a class="dropdown-item" href="/categories/<%= category._id %>/items/<%= item._id %>">Details</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/categories/<%= category._id %>/items/<%= item._id %>/edit">Edit</a>
                                    <form action="/categories/<%= category._id %>/items/<%= item._id %>?_method=DELETE" method="POST">
                                        <input type="submit" class="dropdown-item" value="Delete" onclick="return confirm('Are you sure?')">
                                    </form>
                                    </div>
                            </div>
                            <% }
                         }); %>
                        <!-- Hidden under category are unfavorite items -->
                        <div class="collapse" id="<%= category.name %>">

                                <!-- Display non favorite items corresponding to each category  -->
                                <% category.items.forEach((item) => {
                                    if(!item.favorite) { %>
                                    <div class="btn-group">
                                        <label class="btn btn-info wear-toggle"><input type="checkbox" name="<%= item._id %>" value="true"><%= item.name %></label>
                                        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Favorite</a>
                                            <a class="dropdown-item" href="/categories/<%= category._id %>/items/<%= item._id %>">Details</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/categories/<%= category._id %>/items/<%= item._id %>/edit">Edit</a>
                                            <form action="/categories/<%= category._id %>/items/<%= item._id %>?_method=DELETE" method="POST">
                                                <input type="submit" class="dropdown-item" value="Delete" onclick="return confirm('Are you sure?')">
                                            </form>
                                            </div>
                                    </div>
                                    <% }
                                }); %>
                        </div>
                        <a href="/categories/<%= category._id%>/items/new" class="btn btn-success" role="button">Add items</a>
                    </div>
                </div>
            <% }); %>
            <a class="btn btn-primary" href="/categories/new">Add New Category</a>
            <input type="submit" class="btn btn-dark" value="Update Wears">
        </form>
	</div>
</div>

<div class="container">
    <a class="btn btn-primary" href="/summary" role="button">Check out your cloficient rating!</a>
</div>
    


<%- include("../partials/footer") %>